<!-- Dark theme coming soon-->
<script>
function myFunction() {
   var element = document.body;
   element.classList.toggle("Invert");
}
</script>

<p class="text-center text-secondary pb-3">&copy; Copyright 2020 <a href="#"><strong>Company name</strong></a></p>