<!-- <nav class="navbar navbar-expand-lg" style="background-color:#41d3bd;">
    <div class="d-flex align-items-center">
        <img class="ml-3 mt-3" src="/public/img/FrontShare-Logo-symbol.png" alt="" width="200px">
    </div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
    </ul>
</nav> -->