<nav class="navbar navbar-expand-lg" style="">
    <div class="position-relative m-auto">
        <img class="" src="https://upload.wikimedia.org/wikipedia/commons/6/63/Galaxy_Wide_Logo.jpg" alt="" width="200px">
    </div>
</nav>