<nav class="navigation rounded" style="background-color:#41d3bd;">
  <ul class="mainmenu">
    <li><a href="">Home</a>
      <ul class="submenu">
          <li><a href="">submenu 1</a></li>
      </ul>
    </li>
    <li><a href="">Gallery</a>
      <ul class="submenu">
          <li><a href="">submenu 1</a></li>
          <li><a href="">submenu 2</a></li>
      </ul>
    </li>
    <li><a href="">Products</a>
      <ul class="submenu">
          <li><a href="">submenu 1</a></li>
          <li><a href="">submenu 2</a></li>
          <li><a href="">submenu 3</a></li>
      </ul>
    </li>
    <li><a href="">About</a>
      <ul class="submenu">
          <li><a href="">submenu 1</a></li>
          <li><a href="">submenu 2</a></li>
          <li><a href="">submenu 3</a></li>
          <li><a href="">submenu 4</a></li>
      </ul>
    </li>
    <li><a href="">Contact us</a>
      <ul class="submenu">
        <li><a href="">submenu 1</a></li>
        <li><a href="">submenu 2</a></li>
        <li><a href="">submenu 3</a></li>
        <li><a href="">submenu 4</a></li>
        <li><a href="">submenu 5</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div class="container bg-info rounded mt-3" style="height: 150px;">
</div>