<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Website name | About</title>
</head>


<header>

</header>

<body  style="background-color:#000000;">
    <main class="main">
        <div class="container">
            <div class="col-12">
                <%- include('../partials/header'); %>
                <div class="row">
                    <div class="col-2">
                        <%- include('../partials/left-sidebar'); %>
                    </div>
                    <!-- Here is body of the website-->
                    <div class="col-10 rounded" style="background-color:#ffffff;">
                        <div class="card col-12 m-auto mt-3 mb-3 bg-warning rounded" style="height:700px;">
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>

    <footer>
        <br>
    <%- include('../partials/footer'); %>
    </footer>

</body>

<script>

</script>
</html>