<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Website name | FAQ</title>
</head>


<header>

</header>

<body class="bg-black">
    <main class="main">
        <div class="container">
            <div class="col-12">
                <%- include('../partials/header'); %>
                <div class="row">
                    <div class="col-2">
                        <%- include('../partials/left-sidebar'); %>
                    </div>
                    <!-- Here is body of the website-->
                    <div class="card col-10 bg-secondary rounded">
                      <nav class="navigation rounded bg-white mt-3">
                        <ul class="mainmenu p-2">
                          <li><a><strong>Question:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                            <ul class="card submenu bg-light">
                              <li><a><strong>Answer:</strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </a></li>
                            </ul>
                          </li>
                          <li><a><strong>Question:</strong> </a>
                            <ul class="card submenu">
                                <li><a><strong>Answer:</strong>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </a></li>
                            </ul>
                          </li>
                          <li><a><strong>Question:</strong> </a>
                            <ul class="card submenu">
                                <li><a><strong>Answer:</strong>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </a></li>
                            </ul>
                          </li>
                          <li><a><strong>Question:</strong> </a>
                            <ul class="card submenu">
                              <li><a><strong>Answer:</strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </a></li>
                            </ul>
                          </li>
                          <li><a><strong>Question:</strong> </a>
                            <ul class="card submenu">
                              <li><a><strong>Answer:</strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </a></li>
                            </ul>
                          </li>
                          <li><a><strong>Question:</strong> </a>
                            <ul class="card submenu">
                              <li><a><strong>Answer:</strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </a></li>
                            </ul>
                          </li>
                          <li><a><strong>Question:</strong> </a>
                            <ul class="card submenu">
                              <li><a><strong>Answer:</strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </a></li>
                            </ul>
                          </li>
                          <li><a><strong>Question:</strong> </a>
                            <ul class="card submenu">
                              <li><a><strong>Answer:</strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </a></li>
                            </ul>
                          </li>
                          <li><a><strong>Question:</strong> </a>
                            <ul class="card submenu">
                              <li><a><strong>Answer:</strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </a></li>
                            </ul>
                          </li>
                          <li><a><strong>Question:</strong> </a>
                            <ul class="card submenu">
                              <li><a><strong>Answer:</strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </a></li>
                            </ul>
                          </li>
                          <li><a><strong>Question:</strong> </a>
                            <ul class="card submenu">
                              <li><a><strong>Answer:</strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </a></li>
                            </ul>
                          </li>
                          <li><a><strong>Question:</strong> </a>
                            <ul class="card submenu">
                              <li><a><strong>Answer:</strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </a></li>
                            </ul>
                          </li>
                          <li><a><strong>Question:</strong> </a>
                            <ul class="card submenu">
                              <li><a><strong>Answer:</strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </a></li>
                            </ul>
                          </li>
                          <li><a><strong>Question:</strong> </a>
                            <ul class="card submenu">
                              <li><a><strong>Answer:</strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </a></li>
                            </ul>
                          </li>
                          <li><a><strong>Question:</strong> </a>
                            <ul class="card submenu">
                              <li><a><strong>Answer:</strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </a></li>
                            </ul>
                          </li>
                        </ul>
                      </nav>
                      <br>
                    </div>
                </div>
            </div>
        </div>
        </main>

    <footer>
        <br>
    <%- include('../partials/footer'); %>
    </footer>

</body>

<script>

</script>
</html>