<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Website name | Home</title>
</head>


<header>
    
</header>

<body class="bg-black">
    <main class="main">
        <div class="container">
            <div class="col-12">
                <%- include('../partials/header'); %>
                <div class="row">
                    <div class="col-2">
                        <%- include('../partials/left-sidebar'); %>
                    </div>
                    <!-- Here is body of the website-->
                    <div class=" card col-10 rounded bg-secondary">
                        <div class="card col-12 m-auto mt-3 rounded" style="height:300px;">
                                
                        </div>
                        <div class="card col-12 m-auto mt-3 rounded" style="height:300px;">
                                
                        </div>
                        <div class="card col-12 m-auto mt-3 mb-3 rounded" style="height:300px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>

    <footer>
        <br>
    <%- include('../partials/footer'); %>
    </footer>

</body>

<script>

</script>
</html>