<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>


<header>
  
</header>

<body  style="background-color:#000000;">
    <main class="main">
        <div class="container">
            <div class="col-12">
                <%- include('../partials/header'); %>

                <div class="row g-0" style="background-color:#41d3bd;">
                    <div class="col-2">
                        <%- include('../partials/left-sidebar'); %>
                    </div>
                    <div class="col-10 rounded-end" style="background-color:#ffffff;">
                    
                    </div>
                </div>
            </div>
        </div>
        </main>

    <footer>
    <%- include('../partials/footer'); %>
    </footer>

</body>

<script>
    $(".mainmenu li").click(function(){
    $(".mainmenu li").removeClass('active');
    $(this).toggleClass('active');
    });
</script>
</html>